  <h1><%= @place["name"] %></h1>
  <p>
    <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Entry</a>
  </p>

  <div class="row">
    <% for entry in @entries %>
      <div class="col-sm-6 col-md-3">

        <h4><%= entry["title"] %></h4>

        <div class="row">
          <div class="col">
            <p class="small fst-italic"><%= entry["occurred_on"] %></p>
          </div>
        </div>
        <% if entry.uploaded_image.attached? %>
          <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
        <% else %>
          <img src="<%= entry["image"] %>" class="img-fluid">
        <% end %>

        <p><%= entry["description"] %></p>

      </div>
    <% end %>
  </div>
